<!DOCTYPE html>

<html>
    <head>
        <title>Submit Score</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
         <script src="@{'/public/javascripts/jquery.form.js'}" type="text/javascript" charset="${_response_encoding}"></script>
           <script src="@{'/public/javascripts/template.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <style type="text/css">
			table.sample {
				border-width: 4px;
				border-spacing: 2px;
				border-style: outset;
				border-color: gray;
				border-collapse: separate;
				background-color: white;
			}
			table.sample th {
				border-width: 3px;
				padding: 1px;
				border-style: inset;
				border-color: gray;
				background-color: white;
				-moz-border-radius: ;
			}
			table.sample td {
				border-width: 3px;
				padding: 1px;
				border-style: inset;
				border-color: gray;
				background-color: white;
				-moz-border-radius: ;
			}
		</style>
        <script type="text/javascript">
      		  

        	function refreshForm(){
        		var apikey = $("#gameleaderboard option:selected").attr("apikey");
        		$("#apiKey").val(apikey);
        		var leaderboard = $("#gameleaderboard option:selected").attr("leaderboard");
        		$("#leaderboard").val(leaderboard);
        		
        		if($('#daycheckbox:checked').size()<1){
        			$('#day').attr("disabled","disabled");
        		} else {
        			if($('#day').val() != "") {
            		    var value = $('#day').val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            		    var intRegex = /^\d+$/;
            		    if(!intRegex.test(value)) {
            		    	 alert("day is not a number")
                 		    return false;
            		    }
            		} else {
            		    alert("day missing")
            		    return false;
            		}
        		}

        		return true;
        	}
        	
        	function reinitform(responseText, statusText, xhr, $form){
        		$('#day').removeAttr("disabled");
        		console.log(responseText);
        		
        		 var data = {scores :responseText};
        		 var myTemplateObj = TrimPath.parseDOMTemplate("templateScores");
        	    var result  = myTemplateObj.process(data);
             
                $('#targetDiv').html(result);
                // You might also do a document.write() or something similar...
        	}
        	
        	  $(document).ready(function() { 
        		  
        		    var options = { 
//         		            target:        '#targetDiv',   // target element(s) to be updated with server response 
        		            beforeSerialize:  refreshForm,  // pre-submit callback 
        		            success:       reinitform  // post-submit callback 
        		     
        		            // other available options: 
        		            //url:       url         // override for form's 'action' attribute 
        		            //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        		            //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        		            //clearForm: true        // clear all form fields after successful submit 
        		            //resetForm: true        // reset the form after successful submit 
        		     
        		            // $.ajax options can be used here too, for example: 
        		            //timeout:   3000 
        		        }; 
        		     
        		        // bind form using 'ajaxForm' 
        		   $('#form').ajaxForm(options); 
        		        
        		   $('#day').keyup(function() {
        			   
        			   var day = $('#day').val()
        			   if(day != "") {
	               		    var value = day.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
	               		    var intRegex = /^-?\d+$/;
	               		    if(!intRegex.test(value)) {
	                    		    return false;
	               		    }
	               		} else {
	               		    return false;
	               		}
        			    var day = $('#day').val()
        				var date = new Date(new Date(new Date().getFullYear(), 0).setDate(day)); // initialize a date in `year-01-01`

        			   $('#date').val(date)
        			   return true;
        		   });
              }); 
        </script>
    </head>
    <body>
    	<h1>Games - Leaderboards</h1>
    	<form id="form" action="@{api.Leaderboards.scores()}" target=""targetDiv"">
			Game-Leaderboard: <select id="gameleaderboard">
				#{list items:leaderboards, as:'leaderboard'}
					<option value="${leaderboard.game.name}-${leaderboard.name}" apikey="${leaderboard.game.apikey}" leaderboard="${leaderboard.name}">${leaderboard.game.name}-${leaderboard.name}</option>
	   			#{/list}
			</select> 
			<input id="apiKey" name="apiKey" value="" type="hidden">
			<input id="leaderboard" name="leaderboard" value="" type="hidden">
			<br>
			Range: <select name="range">
				#{list items:ranges, as:'range'}
					<option value="${range.key}">${range}</option>
	   			#{/list}
			</select> 
			<br>
			Override Day: <input id="daycheckbox" type="checkbox" value="override" /> Day: <input type="text" id="day" name="dayofyear" > Date: <input type="text" id="date" disabled="disabled">
			<br>
			Page: <input name="page" value="0" /> PageSize: <input name="pageSize" value="20" />
			<input type="submit" >
    	</form>
    	
    	<div id="targetDiv" name="targetDiv">
    		
    	</div>
    	
		<textarea id="templateScores" style="display:none;">	 
			
			<table class="sample">
				 <tr><td>UserId</td><td>Name</td><td>Score</td></tr>
				 {for score in scores}
					<tr>
						<td>&#36;{score.userId}</td>
						<td>&#36;{score.name}</td>
						<td>&#36;{score.score}</td>
					</tr>
				 {forelse}
				     <tr><td colspan="4">No scores</tr>
				 {/for}
			</table>
			
		</textarea>
    </body>
</html>
